@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
}
.headgrid {
    display: grid;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 1.5%;
    grid-template: 
                "a b c";
    grid-gap: 1rem
}
.tab{
    font-family: 'Source Code Pro', monospace;
    font-size: 0.9rem;
    font-weight: bold;
    color: red;
    background-color: transparent;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1rm;
    border-bottom-color: red;
}
body {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/old Edge */
    user-select: none; /* Standard */
    font-family: 'Source Code Pro', monospace;
    background-color: #000000;
    color: #eeeeee;
    padding-top: 1.5%;
    background-image: linear-gradient(#06162e63 .1rem, transparent 0.1rem), linear-gradient(90deg, #06162e63 .1rem, transparent .1rem);
    background-size: 0.25rem 0.25rem;
    background-position: -0.1rem -0.1rem;
}
.container p {
    margin-left: 15%;
    margin-right: 15%;
    font-size: 1.25rem;
    font-weight: bold;
}
.end-button {
    font-family: 'Source Code Pro', monospace;
    font-size: 1.25rem;
    font-weight: bold;
    color: red;
    margin-top: 2.5%;
    margin-right: 15.5%;
    background-color: transparent;
    border: 0px;
    animation: blink-button 2s infinite;
}
.typed-text {
    font-weight: bold;
    color: red;
}
.typed-color-text{
    text-align: center;
    font-weight: bold;
    color: white;
    background-color:darkred;
}
.cursor {
    display: inline-block;
    width: 0.856rem;
    background-color: #cccccc;
    margin-left: 00.2rem;
    animation: blink 1s infinite;
}
.cursor.typing{
    animation: none;
}
.cursor.non-visible{
    visibility: hidden;
}
.end-button:hover {
    cursor: pointer;
  }
.tab:hover {
    cursor: pointer;
}
@keyframes blink {
    0% {background-color: #ccc;}
    50% {background-color: transparent;}
    100% {background-color: #ccc;}
}
@keyframes blink-button{
    0% {color: darkred;}
    50% {color: red;}
    100% {color: darkred;}
}
@keyframes fadeout{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

